<div class="flex flex-col gap-4 w-full items-center justify-center">
  <div>
    <div *ngIf="selectedImage" class="mt-4">
      <p class=" text-green-600">Podgląd:</p>
      <img [src]="selectedImage" alt="Selected image" class="w-100 aspect-[4/3] object-cover object-center rounded mb-4">
    </div>
    <p class=" text-green-600">Galeria:</p>
    <div class="flex flex-wrap gap-4">
      <div *ngFor="let preview of imagePreviews; let i = index" class="relative">
        <img [src]="preview" alt="Image preview" width="100" (click)="selectImage(preview)" class="rounded h-30 w-auto">
      </div>
    </div>
  </div>
</div>
