<div class="flex flex-col">
  <div class="flex flex-col sm:flex-row p-4 space-x-10 w-full justify-between ">
    <div class="flex flex-col basis-1/4">
      <p #errorTitle class="text-red-500 text-xs mb-1 hidden">Pole jest wymagane</p>
      <input #inputTitle type="text" class="border border-gray-300 focus:border-green-500 outline-0 rounded p-2 mb-4 w-full placeholder:text-gray-700" placeholder="Model Auta">
      <p #errorSeats class="text-red-500 text-xs mb-1 hidden">Pole jest wymagane</p>
      <input #inputSeats type="number" class="border border-gray-300 focus:border-green-500 outline-0 rounded p-2 mb-4 placeholder:text-gray-700" placeholder="Ilosć miejsc">
      <p #errorPower class="text-red-500 text-xs mb-1 hidden">Pole jest wymagane</p>
      <input #inputPower type="number" class="border border-gray-300 focus:border-green-500 outline-0 rounded p-2 mb-4 placeholder:text-gray-700" placeholder="Moc Silnika">
      <p #errorYear class="text-red-500 text-xs mb-1 hidden">Pole jest wymagane</p>
      <input #inputYear type="number" class="border border-gray-300 focus:border-green-500 outline-0 rounded p-2 mb-4 placeholder:text-gray-700" placeholder="Rok produkcji">
      <p #errorLocation class="text-red-500 text-xs mb-1 hidden">Pole jest wymagane</p>
      <input #inputLocation type="text" class="border border-gray-300 focus:border-green-500 outline-0 rounded p-2 mb-4 placeholder:text-gray-700" placeholder="Lokalizacja">
      <p #errorPrice class="text-red-500 text-xs mb-1 hidden">Pole jest wymagane</p>
      <input #inputPrice type="number" class="border border-gray-300 focus:border-green-500 outline-0 rounded p-2 mb-4 placeholder:text-gray-700" placeholder="Cena za dzień">
      <div #transmissionBorder class="flex flex-col border border-green-500 rounded-xl p-2 items-center mb-4">
        <div>
          <p>Skrzynia biegów:</p>
          <div>
            <div class="flex">
              <input type="radio" name="transmission" [(ngModel)]="transmission" value="manualna" class="form-radio me-2">
              <p>manualna</p>
            </div>
            <div class="flex">
              <input type="radio" name="transmission"  [(ngModel)]="transmission" value="automatyczna" class="me-2">
              <p>automatyczna</p>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="basis-1/2 mb-4 flex flex-col">
      <p #errorDescription class="text-red-500 text-xs mb-1 hidden">Pole jest wymagane</p>
      <textarea #inputDescription rows="4" class="border border-gray-300 focus:border-green-500 outline-0 rounded w-full h-150 md:h-full p-2 placeholder:text-gray-700" placeholder="dodaj opis auta"></textarea>
    </div>
    <div class="flex flex-col">
      <p #errorImage class="text-red-500 text-xs mb-1 hidden self-center">Musisz dodać przynajmniej jedno zdjęcie</p>
      <app-image-upload (imageExport)="onImageRecived($event)"  class="flex basis-1/4 md:justify-center items-center"></app-image-upload>
    </div>
  </div>
  <div class="w-full flex flex-row justify-center">
    <app-mapbox (addressSelected)="onAddressRecived($event)" class="w-full not-sm:m-4 md:basis-2/3 sm:mb-4"></app-mapbox>
  </div>
  <button (click)="openDialog()" class="bg-green-500 text-white font-bold p-4 rounded-xl w-60 self-center m-4 hover:bg-green-600 active:bg-green-700 shadow-md">Opublikuj</button>
</div>
