<div class="flex w-full h-min  mb-6 p-6 shadow-md bg-green-400 rounded-b-xl space-x-8">
  <div class="flex flex-col sm:flex-row justify-between items-center sm:items-center w-full space-y-4 sm:space-y-0">
    <p class="text-3xl text-white font-bold">CaRent Logo</p>
    <div class="space-x-4 items-center">
      <input class="border-green-500 bg-white  focus:border-green-500 outline-0 rounded p-2" type="text" placeholder="Lokalizacja">
      <input class="border-green-500 bg-white  focus:border-green-500 outline-0 rounded p-2 mt-2" type="date">
      <input class="border-green-500 bg-white  focus:border-green-500 outline-0 rounded p-2 mt-2" type="date">
    </div>
    <div class="flex items-center">
      <mat-icon [ngStyle]="{'color':'white'}" class="me-4">person</mat-icon>
      <mat-icon [ngStyle]="{'color':'white'}">menu</mat-icon>
    </div>
  </div>
</div>
